<% case song.id %>
<% when 0 %>
<% when 1 %>
<p>
<%= link_to "Obtenir la partition", song_path("#{song.id}.pdf"), target: "_blank" %><br />
Refrain<br />
Jubilez ! Criez de joie ! Acclamez le Dieu trois fois Saint !<br />
Venez le prier dans la paix ; témoigner de son amour<br />
Jubilez ! Criez de joie ! pour Dieu notre Dieu.<br />
<br />
<div class="row">
	<div class="col-lg-6 col-md-6">
	1/ Louez le Dieu de lumière<br />
	Il nous arrache aux ténèbres<br />
	Devenez en sa clarté<br />
	Des enfants de sa lumière.<br />
	<br />
	</div>
	<div class="col-lg-6 col-md-6">
	2/ Ouvrez vous, ouvrez vos cœurs<br />
	Au Dieu de miséricorde<br />
	Laissez-vous réconcilier<br />
	Laissez-vous transfigurer<br />
	<br />
	</div>
	<div class="col-lg-6 col-md-6">
	3/ Notre Dieu est tout amour<br />
	Toute paix toute tendresse<br />
	Demeurez en son amour<br />
	Il vous comblera de Lui<br />
	<br />
	</div>
	<div class="col-lg-6 col-md-6">
	4/ À l’ouvrage de sa grâce<br />
	Offrez toute votre vie<br />
	Il pourra vous transformer<br />
	Lui, le Dieu qui sanctifie.<br />
	<br />
	</div>
	<div class="col-lg-6 col-md-6">
	5/ Louange au Père et au Fils<br />
	Louange à l’Esprit de gloire<br />
	Bienheureuse Trinité :<br />
	Notre joie et notre vie !<br />
	<br />
	</div>
</div>
</p>
<% when 2 %>
<p>
	Seigneur Jésus envoyé par le père guérir et sauver les hommes. Prends pitié de nous.
	Kyrie eleison, Kyrie eleison, Kyrie eleison.
	Au christ venu dans le monde appelé tous les pécheurs. Prends pitié de nous.
	Christe eleison, Christe eleison, Christe eleison.
	Seigneur élevé dans la gloire du père ou tu intercèdes pour nous, prend pitié de nous
	Kyrie eleison, Kyrie eleison, Kyrie eleison.
</p>
<% when 3 %>
<p>
	Gloria gloria in excelcis deo. Gloria gloria in excelcis deo.<br />
	<br />
	Et paix sur la Terre aux hommes qu'il aime. Nous te louons,<br />
	nous te bénissons, nous t'adorons, nous te glorifions,<br />
	nous te rendons grâce pour ton immense gloire.<br />
	Seigneur Dieu, Roi du Ciel, Dieu le Père tout puissant.<br />
	Seigneur Fils unique Jésus-Christ, Seigneur Dieu, Agneau de Dieu, le Fils du Père,<br />
	<br />
	Toi qui enlèves le péché du monde, prends pitié de nous,<br />
	Toi qui enlèves le péché du monde, reçois notre prière.<br />
	Toi qui es assis à la droite du Père, prends pitié de nous.<br />
	<br />
	Car Toi seul es Saint, toi seul es Seigneur, toi seul es le Très-Haut,<br />
	Jésus-Christ, avec le Saint Esprit, dans la gloire de Dieu le père. Amen.<br />
</p>
<% when 4 %>
<p>
	Refrain<br />
	Le Seigneur est ma lumière et mon salut,<br />
	De qui aurais-je crainte ?<br />
	Le Seigneur est le rempart de ma vie,<br />
	Devant qui tremblerais-je ?<br />
	<br />
	1/ J'ai demandé une chose au Seigneur,<br />
	La seule que je cherche :<br />
	Habiter la maison du Seigneur<br />
	tous les jours de ma vie.<br />
	<br />
	2/ Habiter ta maison, Seigneur,<br />
	Pour t'admirer en ta beauté<br />
	Et m'attacher à ton Eglise, Seigneur,<br />
	m'attacher à ton Eglise, Seigneur.<br />
	<br />
	3/ J'en suis sûr, je verrai la bonté du Seigneur<br />
	Sur la terre des vivants.<br />
	Espère, sois fort et prends courage,<br />
	Espère, espère le Seigneur !<br />
</p>
<% when 5 %>
<p>
	Alléluia, alléluia, alléluia, alléluia. Bis
</p>
<% when 5 %>
<% when 6 %>
<% when 7 %>
<% when 8 %>
<p>
	Mendiez, mendiez, l’humilité du cœur,<br />
	mendiez, mendiez, la grâce de la prière,<br />
	Soyez fils et filles de la lumière.<br />
</p>
<% when 9 %>
<p>
<%= link_to "Obtenir la partition", song_path("#{song.id}.pdf"), target: "_blank" %><br />
Refrain<br />
Ne crains pas je suis ton Dieu. C'est moi qui t'ai choisi appelé par ton nom,<br />
tu as du prix à mes yeux car je t'aime, ne crains pas car je suis avec toi.<br />
<br />
Toi mon serviteur je te soutiendrai, toi mon élu que préféré mon âme,<br />
je mettrai en toi mon Esprit je te comblerai de mon Esprit.<br />
<br />
Le seigneur m'a appelé dès le sein de ma mère, il a prononcé mon nom.<br />
C'est lui qui m'a formé pour être mon serviteur le témoin de sa gloire.
</p>
<% when 10 %>
<% when 11 %>
<% when 12 %>
<% when 13 %>
<% when 14 %>
<% end %>