<% case song.id %>
<% when 0 %>
<% when 1 %>
<% when 2 %>
<% when 3 %>
<% when 4 %>
<% when 5 %>
<% when 5 %>
<% when 6 %>
<% when 7 %>
<% when 8 %>
<% when 9 %>
<p>
<%= link_to "Obtenir la partition", song_path("#{song.id}.pdf"), target: "_blank" %><br />
Refrain<br />
Ne crains pas je suis ton Dieu. C'est moi qui t'ai choisi appelé par ton nom,<br />
tu as du prix à mes yeux car je t'aime, ne crains pas car je suis avec toi.<br />
<br />
Toi mon serviteur je te soutiendrai, toi mon élu que préféré mon âme,<br />
je mettrai en toi mon Esprit je te comblerai de mon Esprit.<br />
<br />
Le seigneur m'a appelé dès le sein de ma mère, il a prononcé mon nom.<br />
C'est lui qui m'a formé pour être mon serviteur le témoin de sa gloire.
</p>
<% when 10 %>
<% when 11 %>
<% when 12 %>
<% when 13 %>
<% when 14 %>
<% end %>