<h1>Welcomes#index</h1>
<p>Find me in app/views/welcomes/index.html.erb</p>
<div id="map-canvas">Map</div>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?f=d&amp;source=s_d&amp;saddr=Versailles+eglise+st+joseph&amp;daddr=48.7162135,2.2659405+to:D939&amp;hl=fr&amp;geocode=FZ_16AIdQa4gACFeVDpVLjP1_yndJ8Ck_3zmRzFeVDpVLjP1_w%3BFbVZ5wIdVJMiACnRoeDUIXjmRzFgEkFE87KEWA%3BFfNI4QIdnl8eAA&amp;aq=t&amp;sll=48.576607,2.066803&amp;sspn=0.663275,1.365051&amp;mra=dme&amp;mrsp=2&amp;sz=10&amp;via=1&amp;ie=UTF8&amp;t=m&amp;ll=48.576607,2.066803&amp;spn=0.663275,1.365051&amp;output=embed">
</iframe>
<br />
<small>
	<a href="https://maps.google.fr/maps?f=d&amp;source=embed&amp;saddr=Versailles+eglise+st+joseph&amp;daddr=48.7162135,2.2659405+to:D939&amp;hl=fr&amp;geocode=FZ_16AIdQa4gACFeVDpVLjP1_yndJ8Ck_3zmRzFeVDpVLjP1_w%3BFbVZ5wIdVJMiACnRoeDUIXjmRzFgEkFE87KEWA%3BFfNI4QIdnl8eAA&amp;aq=t&amp;sll=48.576607,2.066803&amp;sspn=0.663275,1.365051&amp;mra=dme&amp;mrsp=2&amp;sz=10&amp;via=1&amp;ie=UTF8&amp;t=m&amp;ll=48.576607,2.066803&amp;spn=0.663275,1.365051" style="color:#0000FF;text-align:left">Agrandir le plan
	</a>
</small>