/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require main.css
 *= require normalize.css
 *= require_tree .
 */

div#head_band {
  height:50px;
  background-color:#1208DA;
}
.main_blue { background-color:#1208DA; }
.second_blue { background-color:#4039D2; }

.main_grey { background-color:#C4C4C4; }
.second_grey { background-color:#919191; }


li.main_link {
  margin: 2px;
  padding: 2px;
  float:left;
  list-style: none;
}
li.main_link a { color:#FFFFFF; }

#map-canvas { height: 500px; width: 500px; }